[Unit]
Description=gmond2influx Gateway
After=network.target

[Service]
EnvironmentFile=-/etc/default/gmond2influx
User=gmond2influx
ExecStart=/usr/local/bin/gmond2influx.py -u "$INFLUX_USER" -p "$INFLUX_PASS" -s "$INFLUX_URL" -a "$LISTEN_ADDRESS" -b "$LISTEN_PORT"
Restart=on-failure

[Install]
WantedBy=multi-user.target
